*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
nav{
    width: 15%;
}
.navP{
    color: #A6ABC8;
    font-size: 14px;
    padding-bottom: 15px;
}
.dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:#fafbfd;
    height: 100vh; 
}
.dropdown_list{
    list-style: none;
    width: 85%;
    position: relative;
}
.dropdown_icon{
    position: absolute;
    top: 35%;
    left: 3%;
    display: block;
    z-index: 11;
}
.dropdown_div{
    position: relative;
}
.dropdown_link{
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--bg, transparent);
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    z-index: auto;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: var(--ft, #A6ABC8);
}
.dropdown_list:has( :checked){
    --rows: 1fr;
    --bg: #707FDD30;
    --ft: #5A6ACF;
    z-index: 10;
}
.dropdown_list:has( :focus){
    --rows: 1fr;
    --bg: #707FDD30;
    --ft: #5A6ACF;
    z-index: 10;
}
.dropdown_check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.dropdown_sub{
    overflow: hidden;
}
.dropdown_li{
    list-style: none;
    padding: 15px;
    padding-left: 35px;
}
.dropdown_li:hover{
    background-color: #707FDD30;
    color: #5A6ACF;
    border-radius: 10px;
}
.dropdown_anchor{
    display: block;
    text-decoration: none;
    color: #A6ABC8;
}
.dropdown_content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}